{% extends '::tk_layout.html.twig' %}

{% block content %}

    {% form_theme form 'LWVUserBundle:Form:fields.html.twig' %}

    <form action="{{ path('update_password') }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
        <fieldset>
            <legend>Change Your Password</legend>
            {{ form_row(form.password) }}
        </fieldset>
        <fieldset>
            <div class="actions">
                {{ form_rest(form) }}
                <input class="btn primary" type="submit" value="Update" />
                <input class="btn error" type="reset" value="Reset">
            </div>
        </fieldset>
    </form>

{% endblock %}