{% block field_row %}
{% spaceless %}
    <div class="control-group">
        {{ form_label(form) }}
        <div class="controls">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    </div>
{% endspaceless %}
{% endblock field_row %}

{% block field_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <!--<div class="alert alert-error" data-dismiss="alert">-->
    <span class="help-inline">
        <!--<a href="#" class="close">×</a>-->
        {% for error in errors %}
            {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}<br/>
        {% endfor %}
    </span>
    <!--</div>-->
    {% endif %}
{% endspaceless %}
{% endblock field_errors %}